server {
  listen $PORT default_server;

  location / {
    gzip off;
    root   /usr/share/nginx/html;
    index  index.html index.htm;
  }      
         location = /status {
             access_log off;
             default_type text/plain;
             add_header Content-Type text/plain;
             return 200 "alive";
        }
        
        location ~* \.(js|jpg|png|css)$ {
            root /usr/share/nginx/html/;
        }        
}